# ─── Airflow ────────────────────────────────────────────────
AIRFLOW_UID=50000                         # оставляем так
AIRFLOW_IMAGE_NAME=apache/airflow:2.9.2   # оставляем так
AIRFLOW_PROJ_DIR=.                        # оставляем так

# Airflow metadata DB (встроенный postgres)
AIRFLOW_DB_USER=                 # нужно придумать и заполнить
AIRFLOW_DB_PASSWORD=             # нужно придумать и заполнить
AIRFLOW_DB_NAME=                 # нужно придумать и заполнить

# Airflow Web UI логин (для входа в браузере)
AIRFLOW_WWW_USER=                # нужно придумать и заполнить
AIRFLOW_WWW_PASSWORD=            # нужно придумать и заполнить

# ─── PostgreSQL (данные пользователя) ───────────────────────
PG_USER=                         # нужно придумать и заполнить
PG_PASSWORD=                     # нужно придумать и заполнить
PG_DB=sales_db                   # оставляем так

# ─── ClickHouse ─────────────────────────────────────────────
# ClickHouse по умолчанию не требует пароля:
CH_USER=default                  # оставляем так
CH_PASSWORD=                     # оставляем так

# ─── Apache Superset ────────────────────────────────────────
SUPERSET_SECRET_KEY=рандомный ключ из 32 символов ("import secrets; print(secrets.token_hex(32))")# пример вывода: a3f9c2e1b8d47f6a0e5c3b2a1d9f8e7c6b5a4d3c2e1f0b9a8d7c6e5f4a3b2c1
SUPERSET_DB_USER=superset             # оставляем так
SUPERSET_DB_PASSWORD=                 # нужно придумать и заполнить
SUPERSET_DB_NAME=superset             # оставляем так
SUPERSET_DB_HOST=superset-db          # оставляем так
SUPERSET_DB_PORT=5432                 # оставляем так

# Для входа в Superset UI
SUPERSET_ADMIN_USER=admin             # оставляем так
SUPERSET_ADMIN_PASSWORD=              # нужно придумать и заполнить
SUPERSET_ADMIN_EMAIL=admin@example.com  # без разницы

# Telegram Bot
TELEGRAM_BOT_TOKEN=токен бота  # активируем бота через @BotFather в телеграмм
TELEGRAM_CHAT_ID=личный ID в telegram    #(если команда, то перечисляем их ID через запятую). можно получить через @userinfobot в телеграмм